<div class="row row-cols-1 row-cols-lg-3">

    @await Component.InvokeAsync("AdminLayoutDashboardSubChart1")

    @await Component.InvokeAsync("AdminLayoutDashboardSubChart2")

    @await Component.InvokeAsync("AdminLayoutDashboardSubChart3")

</div><!--end row-->