
<section class="service-details pb-60 p-relative fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-left">
                    <div class="number">01</div>
                    <h5>🛡️ Sigorta Poliçesi</h5>
                    <p>Sigorta ihtiyaçlarınıza uygun, kapsamlı ve güvenilir poliçe çözümleri sunuyoruz. Olası risklere karşı her zaman yanınızdayız.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="number">02</div>
                    <h5>💳 Doğrudan Ödeme</h5>
                    <p>Anlaşmalı kurumlarımız sayesinde hasar ve sağlık ödemelerinizi hızlı ve kolay şekilde gerçekleştiriyoruz.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Daha Fazla Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-right">
                    <div class="number">03</div>
                    <h5>📞 7/24 Destek</h5>
                    <p>Uzman ekibimizle günün her saati yanınızdayız. Acil durumlarda hızlı destek ve çözüm sağlıyoruz.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Daha Fazla Bilgi</a>
                </div>
            </div>

        </div>
    </div>
</section>
