
<div class="posts_navigation pt-35 pb-35">
    <div class="row align-items-center">
        <div class="col-xl-4 col-md-5">
                <span>Önceki Post</span>
                <h4><a href="#">@ViewBag.prevArticleTitle</a></h4>
        </div>
        <div class="col-xl-4 col-md-2 text-left text-md-center">
            <a href="blog.html" class="blog-filter"><img src="/insureyou/img/icon/c_d01.png" alt=""></a>
        </div>
        <div class="col-xl-4 col-md-5">
                <span>Sonraki Post</span>
                <h4><a href="#">@ViewBag.nextArticleTitle</a></h4>
        </div>
    </div>
</div>
