@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="dark-theme">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/snacked/ltr/assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="/snacked/ltr/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="/snacked/ltr/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/style.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="/snacked/ltr/assets/css/pace.min.css" rel="stylesheet" />


    <!--Theme Styles-->
    <link href="/snacked/ltr/assets/css/dark-theme.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/light-theme.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/semi-dark.css" rel="stylesheet" />
    <link href="/snacked/ltr/assets/css/header-colors.css" rel="stylesheet" />

    <title>Virasure Admin</title>
</head>
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("AdminLayoutNavbar")
        @await Component.InvokeAsync("AdminLayoutSidebar")
        <main class="page-content">
            @await Component.InvokeAsync("AdminLayoutBreadCrumb")
            @RenderBody()
        </main>
        @await Component.InvokeAsync("AdminLayoutSwitcher")
    </div>
    <script src="/snacked/ltr/assets/js/jquery.min.js"></script>
    <script src="/snacked/ltr/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/snacked/ltr/assets/js/pace.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/chartjs/js/Chart.extension.js"></script>
    <script src="/snacked/ltr/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <!-- Vector map JavaScript -->
    <script src="/snacked/ltr/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/snacked/ltr/assets/js/app.js"></script>
    <!--app-->
    <script src="/snacked/ltr/assets/js/app.js"></script>
    <script src="/snacked/ltr/assets/js/index.js"></script>

    <script>
        new PerfectScrollbar(".review-list")
        new PerfectScrollbar(".chat-talk")
    </script>

</body>
</html>
